<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>future-v2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11F4B4C81F4EAE4500BE9850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F4B4DF1F4EAE4500BE9850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F4B4EA1F4EAE4500BE9850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
